div{
    text-align: center;
    align-items:center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 0vw;
    margin-right: 0vw;
}

h1{
    font-size: 3vw;
    
}

#izq{
    background-color:brown;
}
#ctro{
    background-color:burlywood;
}
#der{
    background-color:cadetblue;
}

#head, #head img{
    align-items:center;
    max-height: 12vw;
    text-align: center;
    
}

#navbar{
    background-color: antiquewhite;
}
#combo_box_departamento{
    background-color: aqua;
}
.form-select{
    text-align: center;
    
    margin-left: 1vw;
    margin-right: 1vw;
}
#cards{
    margin-left: 0vw;
    background-color: aquamarine;
}
#carrussy{
    margin: 0vw;
    background-color: blueviolet;
}
.carousel-item{
    margin: 2vw;
}